<div class="eqLogic-widget eqLogic allowResize weenectWidget" style="height: #height#;width: #width#;border:#border#;border-radius:#border-radius#;background-color: #background-color#;color: #color#;#style#" data-eqLogic_id="#id#" data-eqLogic_uid="#uid#" data-version="#version#">
    <center class="widget-name" style="padding-right: inherit;">
    <span class="warning" title="#alert_name#">
      <i class='#alert_icon#'></i>
    </span>
   
    <span style="position:relative" class="cmd weenect-cmd pull-right cursor" data-cmd_id="#refresh_id#">
      <i class="fas fa-sync"></i>
    </span>
    <span class="weenect-cmd-cont">
        <span style="position:relative" class="cmd weenect-cmd ring pull-left cursor" data-cmd_id="#ask_refresh#">
            <i class="fas fa-map-marked-alt" title="{{Demande de mise à jour de la position}}"></i>
        </span>
        <span style="position:relative" class="cmd weenect-cmd ring pull-left cursor" data-cmd_id="#ring_id#">
            <i class="fas fa-bell" title="{{Faire sonner le tracker}}"></i>
        </span>
        <span style="position:relative" class="cmd weenect-cmd vibrate pull-left cursor" data-cmd_id="#vibrate_id#">
            <i class="icon divers-circular114  " title="{{Faire vibrer le tracker}}"></i>
        </span>
    </span>

    
    <span class="reportModeVisible">#name_display# <span class="object_name">#object_name#</span></span>
    <a href="#eqLink#" class="reportModeHidden">#name_display# <span class="object_name">#object_name#</span></a>
    </center>
    <div class="row weenect-#tracker_id#" style="margin-right:0px;margin-left:0px;display:flex;">
            <div class="col-sm-4"><span class="" data-cmd_id="#tracker_id#">#last_seen#</span></div>
            <div class="col-sm-4 text-center">#current_zone#</div>
            <div class="col-sm-4 text-right weenect-info"><span class="weenect-col">#satellites#</span><span class="weenect-col">#tracker_battery#</span></div>
    </div>
    <div class="row weenect-#tracker_id#" style="margin-right:0px;margin-left:0px;">
        <div class="col-sm-12">
            <div class="weenect" id="map_#tracker_id#"></div>
        </div>
    </div> 
    <div class="row weenect-#tracker_id#" style="margin-right:0px;margin-left:0px;display:flex;">
        <div class="col-sm-4"><span class="weenect-gen">{{Précision}} : <span class="weenect-accuracy">#accuracy#</span> m</span></div>
        <div class="col-sm-4 text-center"> 
            <div class="weenect_toggle weenect-heat" style="display:none;">
                <label class="switch">
                    <input type="checkbox">
                    <span class="slider round"></span>
                </label>
                <span class="weenect-gen">{{Heat Map}}</span>
            </div>
        </div>
        <div class="col-sm-4 text-right">#coordonate#</div>
        
    </div>
    <link rel="stylesheet" href="plugins/weenect/3rdparty/leaflet.css"/> 
    <link rel="stylesheet" href="plugins/weenect/3rdparty/weenect_tile.css"/>
    <style>
        #map_#tracker_id#.weenect {
            width: 100%;
            height: #height-map#px;
        }
 
        .weenect-#tracker_id# .weenect-precision,
        .weenect-#tracker_id# .weenect-horodatage,
        .weenect-#tracker_id# .weenect-battery,
        .weenect-#tracker_id# .weenect-coord,
        .weenect-#tracker_id# .weenect-gen,
        .weenect-#tracker_id# .weenect-satellites{
            font-size:10px !important;
        }
        .weenect-#tracker_id# .weenect-battery-icon {
            margin-right: 5px;
        }
        .weenect-#tracker_id# .weenect-current{
            font-weight: bold;
        }

        #weenect-address-#tracker_id# .weenect-address{
            font-size:12px !important;
        }

        /* for weenect cmd */
        .weenect-cmd-cont .weenect-cmd:first-child{
            margin-left:0px !important;
        }
        .weenect-cmd-cont .weenect-cmd{
            margin-left:8px;
        }
        .weenect-cmd{
            position: relative;
            margin-top: 5px !important;
            right: 0;

            color: var(--link-color) !important;
            font-size: 12px;
            line-height: 12px;
        }
        /* for weenect info */
        .weenect-info .weenect-col{
            margin-right: 10px;
        }
        .weenect-info .weenect-col:last-child{
            margin-right: 0 !important;
        }
        .weenect-zone-name{
            font-size: 12px;
            font-weight: bold;
            padding: 1px !important;
            /* background-color: transparent;
            border: none;
            box-shadow: none; */
        }
    </style>
    <script src="plugins/weenect/3rdparty/leaflet.js"></script>
    <script src="plugins/weenect/3rdparty/heatlayer.js"></script>
    <script src="plugins/weenect/core/template/weenect.template.js"></script>
    <script type="text/javascript">
        
        $('.eqLogic[data-eqLogic_uid=#uid#] .weenect-cmd').each(function(e){
            if(!isNaN($(this).data("cmd_id"))){
                $(this).on('click', function () {
                    jeedom.cmd.execute({id: $(this).data("cmd_id"), notify: false});
                    weenect_notify('#uid#', $(this).data("cmd_id"));
                });
            }else{
                $(this).remove();
            }

        });
        function weenect_notify(uid, cmdId){
            var elt = $('.eqLogic[data-eqLogic_uid=#uid#] .weenect-cmd[data-cmd_id="'+cmdId+'"]');
            elt.addClass('refresh').addClass('spinning');
            setTimeout(function() {
                    elt.removeClass('spinning').removeClass('refresh')
            }, 1000)
        }


        var data#tracker_id#=JSON.parse('#json#');
        var trackerName='#name_display#';
        
        // console.log(JSON.stringify(data#tracker_id#));

        // add heat map if history
        if (data#tracker_id#.tracker.history){
            $(".weenect-#tracker_id# .weenect-heat").show();
            $(".weenect-#tracker_id# .weenect-heat input[type='checkbox']").on('change', function(e){
                weenectUpdateHistoryDraw('#tracker_id#', $(this).value());
            })
        }
        weenectSetTheme(data#tracker_id#['light-theme'], data#tracker_id#['dark-theme']);
        weenectCreateMap( #tracker_id#, data#tracker_id#['control-attributions'], data#tracker_id#['control-zoom'], data#tracker_id#['options']);
        weenectObjects.maps[#tracker_id#].customZoom = parseInt('#zoom#');

        
        weenectCreateMarker(#tracker_id#, data#tracker_id#.tracker);
        weenectCreatePoint(#tracker_id#, data#tracker_id#.tracker);
        // for zones
        for(id in data#tracker_id#.zones){
            weenectCreateMarker(#tracker_id#, data#tracker_id#.zones[id]);
        }
        weenectFocusFeatureGroup(#tracker_id#);
        weenectMapLoaded(#tracker_id#);
    </script>


   
</div>
