<div class="eqLogic eqLogic-widget #class#" data-eqLogic_id="#id#" data-eqType="#eqType#" data-version="#version#" data-eqLogic_uid="#uid#" data-translate-category="#translate_category#" data-category="#category#" data-tags="#tags#" style="#style#">
	<span class="cmd refresh pull-right cursor" data-cmd_id="#refresh_id#">
		<i class="fas fa-sync"></i>
	</span>
    <center>
		<span class="widget-name">
			<span class="warning" title="#alert_name#">
				<i class='#alert_icon#'></i>
			</span>
			<span>#name_display# <span class="object_name">#object_name#</span></span><br/>
		</span>
    </center>
    <div class="row weenect-#tracker_id#" style="margin-right:0px;margin-left:0px;display:flex;">
            <div class="col-sm-4"><span class="cmd" data-cmd_id="#tracker_id#">#last_seen#</span></div>
            <div class="col-sm-4 text-center">#current_zone#</div>
            <div class="col-sm-4 text-right">#tracker_battery#</div>
    </div>
    <div class="row weenect-#tracker_id#" style="margin-right:0px;margin-left:0px;">
        <div class="col-sm-12">
            <div class="weenect" id="map_#tracker_id#"></div>
        </div>
    </div> 
    <div class="row weenect-#tracker_id#" style="margin-right:0px;margin-left:0px;display:flex;">
        <div class="col-sm-6"> <div class="weenect-accuracy">#accuracy#</div></div>
        <div class="col-sm-6 text-right">#coordonate#</div>
        
    </div>
    <link rel="stylesheet" href="plugins/weenect/3rdparty/leaflet.css"/> 
    <style>
        #map_#tracker_id#.weenect {
            width: 100%;
            height: #height-map#px;
        }
        #map_#tracker_id#.weenect .leaflet-marker-icon {
            border-radius: 50% !important;
        }
        .weenect-#tracker_id# .weenect-precision,
        .weenect-#tracker_id# .weenect-horodatage,
        .weenect-#tracker_id# .weenect-battery,
        .weenect-#tracker_id# .weenect-coord{
            font-size:10px !important;
        }
        .weenect-#tracker_id# .weenect-battery-icon {
            margin-right: 5px;
        }
        .weenect-#tracker_id# .weenect-current{
            font-weight: bold;
        }

        #weenect-address-#tracker_id# .weenect-address{
            font-size:12px !important;
        }
    </style>
    
    <script src="plugins/weenect/3rdparty/leaflet.js"></script>
    <script src="plugins/weenect/core/template/weenect.template.js"></script>
    <script type="text/javascript">
    
        if ('#refresh_id#' != ''){
            $('.eqLogic[data-eqLogic_uid=#uid#] .refresh').on('click', function () {
                jeedom.cmd.execute({id: '#refresh_id#'});
            });
        }else{
            $('.eqLogic[data-eqLogic_uid=#uid#] .refresh').remove();
        }
        var data#tracker_id#=JSON.parse('#json#');
        var trackerName='#name_display#';

        weenectSetTheme(data#tracker_id#['light-theme'], data#tracker_id#['dark-theme']);
        weenectCreateMap(#tracker_id#, data#tracker_id#['control-attributions'], data#tracker_id#['control-zoom']);
        weenectObjects.maps[#tracker_id#].customZoom = parseInt('#zoom#');

        
        weenectCreateMarker(#tracker_id#, data#tracker_id#.tracker);
        weenectCreatePoint(#tracker_id#, data#tracker_id#.tracker);
        // for zones
        for(id in data#tracker_id#.zones){
            weenectCreateMarker(#tracker_id#, data#tracker_id#.zones[id]);
        }
        weenectFocusFeatureGroup(#tracker_id#);
        weenectMapLoaded(#tracker_id#);
    </script>


   
</div>
