<div class="eqLogic eqLogic-widget #class#" data-eqLogic_id="#id#" data-eqType="#eqType#" data-version="#version#" data-eqLogic_uid="#uid#" data-translate-category="#translate_category#" data-category="#category#" data-tags="#tags#" style="#style#">
	<span class="cmd refresh pull-right cursor" data-cmd_id="#refresh_id#">
		<i class="fas fa-sync"></i>
	</span>
    <center>
		<span class="widget-name">
			<span class="warning" title="#alert_name#">
				<i class='#alert_icon#'></i>
			</span>
			<span>#name_display# <span class="object_name">#object_name#</span></span><br/>
		</span>
    </center>
    <center>
        <div class="col-sm-4 text-center">#current_zone#</div>
    </center>
    <div class="row weenect-#tracker_id#" style="margin-right:0px;margin-left:0px;display:flex;">
           <div class="cmd col-sm-12 weenect-date" data-cmd_id="#tracker_id#">#last_seen#</div>
    </div>
    
    <div class="row weenect-#tracker_id#" style="margin-right:0px;margin-left:0px;">
        <div class="col-sm-12">
            <div class="weenect" id="map_#tracker_id#"></div>
        </div>
    </div> 
    <div class="row weenect-#tracker_id#" style="margin-right:0px;margin-left:0px;display:flex;">       
        <div class="col-sm-6">#satellites#</div>
        <div class="col-sm-6 text-right" style="text-align: right;">#tracker_battery#</div>
    </div>
    <div class="row weenect-#tracker_id#" style="margin-right:0px;margin-left:0px;display:flex;">
        <div class="col-sm-12"><span class="weenect-gen">{{Précision}} : <span class="weenect-accuracy">#accuracy#</span> m</span></div>
        
    </div>
    <div class="row weenect-#tracker_id#" style="margin-right:0px;margin-left:0px;display:block;">
        <div class="row align-items-center">
            <div class="col-lg-6"><button class="weenect-cmd vibrate cursor" data-cmd_id="#vibrate_id#"><i class="fas fa-cube" title="{{Faire vibrer le tracker}}"></i></button></div>
            <div class="col-lg-6"><button class="cmd weenect-cmd ring cursor" data-cmd_id="#ring_id#"><i class="fas fa-bell" title="{{Faire sonner le tracker}}"></i></button></div>
        </div>
        <div class="row align-items-center">
            <div class="col-lg-6"><button class="cmd weenect-cmd ring cursor" data-cmd_id="#ask_refresh#"><i class="fas fa-map-marked-alt" title="{{Demande de mise à jour de la position}}"></i></button></div>
        </div>
    </div>
    <link rel="stylesheet" href="plugins/weenect/3rdparty/leaflet.css"/> 
    <link rel="stylesheet" href="plugins/weenect/3rdparty/weenect_tile.css"/>
    <style>
       #map_#tracker_id#.weenect {
            width: 100%;
            height: #height-map#px;
        }
        #map_#tracker_id#.weenect .leaflet-marker-icon {
            border-radius: 50% !important;
        }
        
        .weenect-#tracker_id# .weenect-precision,
        .weenect-#tracker_id# .weenect-horodatage,
        .weenect-#tracker_id# .weenect-battery,
        .weenect-#tracker_id# .weenect-coord,
        .weenect-#tracker_id# .weenect-gen,
        .weenect-#tracker_id# .weenect-satellites{
            font-size:10px !important;
        }
        .weenect-#tracker_id# .weenect-battery-icon {
            margin-right: 5px;
        }
        .weenect-#tracker_id# .weenect-current{
            font-weight: bold;
        }

        #weenect-address-#tracker_id# .weenect-address{
            font-size:12px !important;
        }
        .weenect-#tracker_id# .weenect-horodatage{
            display: inline-block;
            width: 100%;
            text-align: center;
        }
        /* for weenect cmd */
        .weenect-cmd-cont .weenect-cmd:first-child{
            margin-left:0px !important;
        }
        .weenect-cmd-cont .weenect-cmd{
            margin-left:8px;
        }
        .weenect-cmd{
            position: relative;
            margin-top: 5px !important;
            right: 0;

            color: var(--link-color) !important;
            font-size: 12px;
            line-height: 12px;
        }
         /* for weenect info */
         .weenect-info .weenect-col{
            margin-right: 10px;
        }
        .weenect-info .weenect-col:last-child{
            margin-right: 0 !important;
        }
    </style>
    
    <script src="plugins/weenect/3rdparty/leaflet.js"></script>
    <script src="plugins/weenect/3rdparty/heatlayer.js"></script>
    <script src="plugins/weenect/core/template/weenect.template.js"></script>
    <script type="text/javascript">
    
        $('.eqLogic[data-eqLogic_uid=#uid#] .weenect-cmd').each(function(e){
            if(!isNaN($(this).data("cmd_id"))){
                $(this).on('click', function () {
                    jeedom.cmd.execute({id: $(this).data("cmd_id"), notify: false});
                    weenect_notify('#uid#', $(this).data("cmd_id"));
                });
            }else{
                $(this).remove();
            }

        });
        var data#tracker_id#=JSON.parse('#json#');
        var trackerName='#name_display#';

        weenectSetTheme(data#tracker_id#['light-theme'], data#tracker_id#['dark-theme']);
        weenectCreateMap(#tracker_id#, data#tracker_id#['control-attributions'], data#tracker_id#['control-zoom']);
        weenectObjects.maps[#tracker_id#].customZoom = parseInt('#zoom#');

        
        weenectCreateMarker(#tracker_id#, data#tracker_id#.tracker);
        weenectCreatePoint(#tracker_id#, data#tracker_id#.tracker);
        // for zones
        for(id in data#tracker_id#.zones){
            weenectCreateMarker(#tracker_id#, data#tracker_id#.zones[id]);
        }
        weenectFocusFeatureGroup(#tracker_id#);
        weenectMapLoaded(#tracker_id#);
    </script>


   
</div>
